/* Add CSS Styling */

*{
    font-family: monospace;
}

.one {
    background-color: rgba(255, 99, 99, 0.7);
    font-size: 32px;
}

#one {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: blue;
    font-size: 64px;
}

.onecool {
    background-color: rgba(255, 99, 99, 0.7); 
    font-size: 64px;  
}

#two {
    background-color: rgba(99, 255, 99, 0.7);
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: bold;
}